::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #C0C0C0;
}

.header {
    text-align: center;
    font-size: 40px;
    user-select: none;
}

.mp3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}